.flex-container {
    width: 1280px;
    height: 1626px;
    font-family: sans-serif;
    font-style: normal;
    text-align: center;
}
.header-nav {
margin-top: -6px;
}
.header-menu {
    width: 500px;
    height: 50px;
    margin: 5px;
    padding: 7px;
    list-style: none;
    display: inline-flex;
    align-items: center;
}
.header-menu-item {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    list-style: none;
       }
.header-menu-link1 {
width: 68px;
    height: 27px;
    text-decoration: none;
    color: red;
    font-size: 18px;
    line-height: 18px;
    }
.header-menu-link2 {
    width: 131px;
    height: 27px;
    text-decoration: none;
    color: red;
    font-size: 18px;
    line-height: 18px;
}
.header-menu-link3 {
    width: 87px;
    height: 27px;
    text-decoration: none;
    color: red;
    font-size: 18px;
    line-height: 18px;
}
.header-menu-link4 {
    width: 148px;
    height: 27px;
    text-decoration: none;
    color: red;
    font-size: 18px;
    line-height: 18px;
}

.picture {
    display: block;
    width: 1280px;
    height: 789px;
    padding-top: 78px;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ширина блока с полями */
    }
.heading {
    width: 774px;
    height: 29px;
    margin-left: 253px;
    margin-top: 48px;
    display: flex;
    align-items: flex-end;
    line-height: 26.82px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
.heading-item1 {
    width: 1145px;
    height: 132px;
    margin-left: 67.5px;
    margin-top: 48px;
    line-height: 26.82px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2.4px;
    text-align: center;
    color: #373737;
}
    .heading-item2 {
        width: 1145px;
        height: 216px;
        margin-left: 67.5px;
        line-height: 26.82px;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 2.4px;
        text-align: center;
        color: #373737;
}
    .button {
        width: 191px;
        height: 51px;
        margin-right: 544px;
        margin-left: 544px;
        margin-top: -50px;
        justify-content: center;
        background-color: #ff0000;
        text-decoration: none;
        border-radius: 4px;
        display: flex;
        font-size: 12px;
        line-height: 12px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 1.8px;
        color: white;
    }
.footer {
    width: 462px;
    height: 39px;
    margin-left: 688px;
    margin-top: 40px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2.4px;
    display: flex;
    align-items: center;
    color: #373737;
}

